 * {
     margin: 0;
     padding: 0;
 }
 
 .product {
     margin: 0 auto;
     width: 965px;
     height: auto;
     background-image: url(img/image\ 180.png);
     background-size: 100%;
 }
 
 .menu {
     margin: 0 auto;
     position: absolute;
     top: 26px;
     float: right;
     box-sizing: border-box;
     width: 743px;
     height: 62px;
     left: calc(50% - 743px/2 + 110.5px);
     bottom: 1362px;
     background: #C08853;
     border: 0.2px solid #000000;
     box-shadow: inset 5px 4px 5px rgba(0, 0, 0, 0.25);
     border-radius: 0px 0px 0px 20px;
 }
 
 @font-face {
     font-family: roboto;
     src: url(font/Roboto-Medium.ttf);
 }
 
 ul li {
     display: inline-block;
     margin: 5px;
     margin-top: 20px;
 }
 
 ul li a {
     font-family: roboto;
     text-decoration: double;
     color: black;
     margin-left: 10px;
     float: center;
 }
 
 li a:hover {
     color: white;
     text-decoration: underline;
     font-size: 18px;
     text-align: center;
     transition: all 0.2s;
     position: relative;
 }
 
 .header {
     top: 14px;
     width: 964px;
     height: 245px;
     background: url(imgicon/banner.png);
     margin: 0 auto;
     margin-top: 60px;
 }
 
 .logos {
     position: relative;
     top: 30px;
     left: 45px;
 }
 
 .user_giohang {
     float: right;
 }
 
 .user_giohang a {
     margin: 10px 10px;
     position: relative;
     bottom: 25px;
 }
 
 .user_giohang img:hover {
     border: 1px solid;
     border-color: black;
 }
 
 .tieude1 {
     color: white;
     font-family: 'Times New Roman', Times, serif;
     position: relative;
     left: 40px;
     top: 30px;
 }
 
 .tieude1 p {
     position: relative;
     top: 30px;
 }
 
 a button {
     position: relative;
     top: 3.2pc;
     left: 80px;
     width: 130px;
     height: 41px;
     background: #6A5555;
     border-radius: 10px;
     flex-direction: row;
     align-items: flex-start;
     padding: 10px;
     gap: 10px;
     color: white;
     font-family: roboto;
 }
 
 a button:hover {
     background-color: indigo;
 }
 
 .image_header {
     display: inline-block;
     position: relative;
     bottom: 6pc;
     float: right;
     right: 70px;
 }
 
 .image_header img {
     margin: 10px;
     animation: animation 3s infinite linear;
     animation-delay: 0.5s;
     transform: translateY(-10px);
 }
 
 @keyframes animation {
     0% {
         transform: translateY(0px);
     }
     50% {
         transform: translateY(-10px);
     }
     100% {
         transform: translateY(0px);
     }
 }
 
 .image_header img:hover {
     opacity: 0.7;
 }
 
 .s1 {
     position: relative;
     bottom: 10px;
 }
 
 .content h1 {
     position: relative;
     width: 305px;
     height: 20px;
     left: 329px;
     top: 30px;
     font-family: 'Modern No. 20';
     font-style: normal;
     font-weight: 400;
     font-size: 25px;
     line-height: 20px;
     /* identical to box height, or 80% */
     text-align: center;
     letter-spacing: 0.02em;
     color: #000000;
 }
 
 .content p {
     position: relative;
     width: 639px;
     top: 30px;
     height: 449px;
     left: 167px;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 20px;
     /* or 133% */
     text-align: center;
     letter-spacing: 0.02em;
     color: #000000;
 }
 
 .content img {
     position: relative;
     bottom: 120px;
     left: 11pc;
 }
 
 .content_img img {
     position: relative;
     left: 7pc;
     top: -50px;
     margin: 20px;
 }
 
 footer {
     background-image: url(imgicon/banner.png);
     position: relative;
     height: 16pc;
 }
 
 .logoo {
     position: relative;
     left: 6pc;
     top: 6pc;
 }
 
 .container {
     position: relative;
     left: 1.5pc;
 }
 
 footer nav {
     width: 200px;
     position: relative;
     left: 50pc;
     bottom: 12pc;
 }
 
 .contentt p {
     display: inline-block;
     color: white;
     margin: 10px 20px;
 }
 
 .contentt {
     position: relative;
     left: 13pc;
     bottom: 2.5pc;
 }